@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */
.display-flex{
    display: flex;
}

/* dark-01 */
.text-dark-gray{
    color: #131313;
}

/* dark-02 */
.text-gray{
    color: #424242;
}

/* dark-03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.button-primary{
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;

}    

main{
    max-width: 90%;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.section-tittle{
    font-size: 2.8rem;
}
/* shared styles end  */


/* header style  */
/* navbar style  */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
    /* 1rem = 16px */
}

.nav-item{
    list-style-type: none;
    margin-right: 30px;
}

.nav-links a{
    text-decoration: none;
    font-weight: 500;
}

.banner, .nav-bar{
    max-width: 90%;
    margin: 0 auto;
}

/* banner styles  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-desc{
    font-size: 1rem;
}

.banner-img{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.banner-img img{
    width: 100%;
}

/* team and feature realted style  */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-img-container img{
    max-width: 100%;
}

.our-features{
    margin-left: 73px;
    max-width: 537px;
}

#quick{
    font-weight: 500;
}

#our{
    font-weight: 700;
}

#feature{
    color: #FF900E;
}

/* features you enjoy  */
#feature-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
}

.features{
    gap: 10px;
}
.feture-img{
    max-width: 680px;
}

.feature-container{
    max-width: 580px;
}

#experience-badge{
    padding: 32px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -100px;
    margin-left: -40px;

}

#experience-year{
    font-size: 2rem;
    font-weight: 700;
}

/* .feture-img img{
    width: 100%;
} */

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}   

.feature-card .feature-tittle{
    font-size: 1.25rem;
    font-weight: 600;
    color: #131313;
    padding: 0px;
    margin: 0px;
}

.feature-desc{
    margin-top: 0px;
}

/* some facts realted styles  */

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px;
}

.fact-desc{
    max-width: 540px;
    margin-bottom: 90px;
}

.sponsors-info{
    text-align: center;
    max-width: 540px;
    margin: 50px auto;
}
.sponsors-desc{
    margin-top: 10px;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

footer{
    max-width: 90%;
    text-align: center;
    margin: 50px auto;
    border-radius: 8px;
}

footer p{
    padding: 38px;
    font-size:18px;
    margin: 0px;
}

/* Mobile device media query   */

@media screen and (max-width: 576px) {
    .nav-bar, 
    .nav-links,
    .teams,
    .features{
        flex-direction: column;
        text-align: center;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-img-container img{
        width: 90%;
    }
    .team-img-container,
    .sponsor-companies{
        justify-items: center;
    }

    .our-features{
        margin: 0 auto;
    }

    .facts-container{
        gap: 24px;
        justify-items: center;
    }

    .sponsor-companies{
        gap: 40px;
    }

    .some-facts{
        text-align: center;
    }

    .feture-img img{
        width: 100%;
    }
}

/* styles for medial device */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams,
    .some-facts,
    .our-sponsors,
    .sponsor-companies,
    .features{
        flex-direction: column;
        text-align: center;
        justify-items: center;
    }

    .feature-container{
        margin: 0 auto;
    }

    .feture-img{
        margin: 0 auto;
    }
    
    .facts-container,
    .sponsor-companies{
        gap: 30px;
    }

    .team-img-container,
    .facts-container,
    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
    }
}