@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */
.display-flex{
    display: flex;
}

/* dark-01 */
.text-dark-gray{
    color: #131313;
}

/* dark-02 */
.text-gray{
    color: #424242;
}

/* dark-03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.button-primary{
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;

}    

main{
    max-width: 90%;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.section-tittle{
    font-size: 2.8rem;
}
/* shared styles end  */


/* header style  */
/* navbar style  */
.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
    /* 1rem = 16px */
}

.nav-item{
    list-style-type: none;
    margin-right: 30px;
}

.nav-links a{
    text-decoration: none;
    font-weight: 500;
}

.banner, .nav-bar{
    max-width: 90%;
    margin: 0 auto;
}

/* banner styles  */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-desc{
    font-size: 1rem;
}

.banner-img{
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.banner-img img{
    width: 100%;
}

/* team and feature realted style  */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-img-container img{
    max-width: 100%;
}

.our-features{
    margin-left: 73px;
    max-width: 537px;
}

#quick{
    font-weight: 500;
}

#our{
    font-weight: 700;
}

#feature{
    color: #FF900E;
}

/* Mobile device media query   */

@media screen and (max-width: 576px) {
    .nav-bar, 
    .nav-links,
    .teams{
        flex-direction: column;
        text-align: center;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .our-features{
        margin: 0 auto;
    }
}

/* styles for medial device */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams{
        flex-direction: column;
        text-align: center;
    }
}